body {
  width: 100%;
  height: 100%;
  margin: 0px;
  background-color: #888;
  background-image: url(https://cdn.hipwallpaper.com/i/29/69/M5kWUT.png);
  overflow: hidden;
}

canvas {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  z-index: -1;
}

html { cursor: none; }
